* {
    font-family: sans-serif;
    margin: 0;
}

form {
    width: auto;
}

.form-create {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
    padding: 15px;
}

.form-create legend {
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 2px 0 #111;
    font-size: 30px;
}

.form-create input {
    border: none;
    outline: none;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 26px;
}

.create-btn {
    background-color: yellowgreen;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    padding: 0 30px 0 30px;
    color: #333;
    font-weight: bold;
}

.list {
    list-style: none;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    background-color: coral;
}

.item {
    display: flex;
    border-radius: 20px;
    padding: 2px 15px;
    align-items: center;
    background-color: #fff5;
}

.item form input {
    font-size: 20px;

}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item span {
    flex-grow: 1;
}

.delete-btn, .edit-btn {
    background: dodgerblue;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-style: oblique;
    border-radius: 20px;
}

.edit-btn {
    display: none;
    margin-right: 5px;
}

.input-data-from-bd {
    border: 0;
    background: transparent;
    outline: none;
    padding: 0;
    width: 80px;
    margin-right: 5px;
}

.input-data-from-bd:nth-child(2) {
    width: 50px;
}